.box{
    width: 200px;
    height: 200px;
    background-color: brown;
    border: 1px solid black;
    font-size: 3em;
}
.container{
    display: flex;
    height: 400px;
    justify-content: center;
    border: 1px dashed seagreen;
    align-items: center;
}
.login-form{
    display: flex;
    flex-direction: column;
}
.login-form button{
  background-color: orange;
  color: white;
  font-weight: 20px;
  border: 0px;
  padding: 5px;
}
.login-container{
    display: flex;
    justify-content: center;
    border-radius: 2px;

}
nav a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
    color: maroon;

}
nav{
    display: flex;
    justify-content: space-between;
}
.grid-container{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
}
.grid-cell{
    border: 1px solid goldenrod;
}
.calender{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 2em repeat(5,1fr);
    grid-gap: 1em;
    height: 500px;
    
}
.date, .day{
    background-color: gray;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.other-month{
 background-color: lightgray;
}
.day{
    font-size: 2em;
}
.menu-container{
    display: flex;
}
.food{
    border: 2px solid rgb(203, 55, 216);
    width: 300px;
}
.food img{
    width: 75%;
}
@media (max-width: 700px) {
    .food{
        background-color: orange;
        margin-bottom: 20px;
    }
    .menu-container{
        flex-direction: column;
    }
}
@media (min-width: 900px) {
    .food{
        background-color: rgb(70, 170, 61);
    }
}
.photo-frame{
    width: 300px;
    height: 200px;
    border: 1px solid goldenrod;
    border-radius: 10px;
    position: relative;
    margin: 15px;
    overflow: hidden;
}
.photo img{
    width: 100%;
    border-radius: 10px;
}
.photo-detail {
    position: absolute;
    width: 300px;
    bottom: 0;
    display: none;   
}
.photo-detail h3{
    background-color: black;
    color: white;
    text-align: center;
}
.photo-detail p{
   color: white;
}
.photo-album{
    display: flex;
    flex-wrap: wrap;
}
.photo-frame:hover .photo-detail{
    /* display: block; */
    background-color: rgba(218, 165, 32, 0.26);
}

.photo-frame:hover .photo{
    transform: scale(1.5);
    transition: transform 2s ease-in-out;
} 
